.card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.card {
  align-items: center;
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

.card h1 {
  margin-top: 10px;
  font-size: 24px;
}
.card h2 {
  font-size: 22px;
}
.card h3 {
  font-size: 18px;
}

.links {
  margin-top: 10px;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.links i {
  color: #232a34;
  font-size: 36px;
}

.button {
  color: white;
  margin-top: 20px;
  width: 149px;
  height: 40px;
  background: #2cb673;
  border-radius: 20px;
  outline: none;
  border: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
