.container {
  max-width: 1440px;
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
}

.left {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 200px;
}

.right {
  margin-top: 150px;
  position: sticky;
  top: 350px;
  height: 500px;
}

.big {
  display: flex;
  justify-content: center;
}

.middle {
  margin-top: 210px;
}

@media only screen and (max-width: 1240px) {
  .right {
    display: none;
  }
  .middle {
    margin: 210px -50px;
  }
}
