.style {
  position: fixed;
  top: 0;
  width: 100%;
  height: 300px;
  background: linear-gradient(90deg, #1d976c 0%, #93f9b9 100%);
}
.style i {
  font-size: 36px;
  color: black;
  display: flex;
  justify-content: flex-end;
  margin: 0 20px;
  padding-top: 250px;
}
