.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.createquestion {
  position: fixed;
  left: 51px;
  top: 121px;
}

.populartags {
  position: fixed;
  left: 51px;
  top: 389px;
}

.information {
  position: fixed;
  right: 31px;
  top: 121px;
}
